div {

	box-sizing: border-box;
	/*border: 3px solid blue;*/
	margin: 0 auto;

}

body {
	background-color: #DCDCDC;
	font-family: 'Tinos', serif;
}

ul {
	text-align: center;
	padding: 0px;
}

li {
	padding: 10px;
}

img {
	 transition: 0.5s transform;
	 transition-duration: 2s;
	 padding: 10px;
}
.transform {
	margin-bottom: 15px;
	margin-top: 15px;
	transform: rotate(180deg) scale(-1);
   

}


input {
	position: relative;	
	top: 35px;
	left: -140px;
}

.heading-bar {
	text-align: center;
	color: #35586C;

}

.searchWrapper {
	text-align: center;
	height: 10%;
	
	width: 40%;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #FFFFFF;
	margin-bottom: 40px;
	
	border: 3px solid #35586C;
}

.searchButtonWrapper {
	margin-top: 20px;
}

.logoWrapper {
	padding: 50px;
	margin-top: 20px;
	margin-right: 40px;
	margin-left: 40px;
	background-color: #FFFFFF;
	border: 3px solid #35586C;
}

.logoWrapper ul li{
	display: inline-block;
	list-style-type: none;
}

.gray {
	-webkit-filter: grayscale(100%); 
	filter: grayscale(100%);
	opacity: 0.2; 
}
